* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: white;
}


.foto__bio {

    background-image: url(/img/musk.jpg);
    height: 500px;
    background-size: contain; 
    background-repeat: no-repeat;
    background-position-x: center;
    
    
}

h1 {
    background-color: gray;
    color: white;
    text-align: center;
}

P{
    color: white;
   

}

h2{
    background-color: gray;
    color: white;
    text-align: center;
}

.introbio { 
    margin-top: -50px;

}
